# Server
PORT=8085
FORCE_SEED_UPDATE=false
API_VERSION=v1
CREDENTIALS=true
NODE_ENV=local

# Info
API_URL=http://localhost:8085
FRONTEND_ORIGIN=http://localhost:3030

# Database
DATABASE_URL=

# Supabase
SUPABASE_URL=your_supabase_url_here
SUPABASE_ANON_KEY=your_supabase_anon_key_here